<div class="container-fluid top-div">
  <div class="row justify-content-center align-items-center">
    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 mx-auto">
      <div class="card nga-card">
        <h1 class="h2 text-center title">
          <strong>Login</strong>
        </h1>
        <div class="card-body px-lg-5 pt-4">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="col">
                <div class="md-form mb-3">
                  <div class="form-floating">
                    <input type="email"
                      class="form-control form-control-sm"
                      formControlName="email"
                      id="email"
                      placeholder="your@email.com"
                      [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    <label for="email">Email Address</label>
                  </div>
                  <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="text-danger small">
                    <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format.</div>
                  </div>
                </div>
                <div class="md-form mb-3 position-relative">
                  <div class="form-floating">
                    <input autocomplete="password" [type]="showPassword ? 'text' : 'password'"
                      class="form-control form-control-sm"
                      formControlName="password"
                      id="password"
                      placeholder="Password"
                      [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    <label for="password">Password</label>
                    <span class="position-absolute top-50 end-0 translate-middle-y me-4" style="cursor: pointer;"
                          (click)="togglePasswordVisibility()">
                      <i class="password-toggle-icon" [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
                    </span>
                  </div>
                  <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="text-danger small">
                    <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</div>
                  </div>
                </div>
                <button class="w-100 btn btn-primary me-0 me-sm-2 mx-1 m-3" [disabled]="!loginForm.valid" type="submit">
                  Login <i class="fas fa-sign-in-alt"></i>
                </button>
                <hr>
                <p class="text-center mb-1">
                  <a routerLink="/forgot-password" class="text-primary">Forgot password?</a>
                </p>
                <p class="text-center">
                  Not registered yet?
                  <a routerLink="/register" class="text-primary">Create an account</a>
                </p>

              </div>
                <div class="loading" *ngIf="loading">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div> 

      <div class="col-xl-6 col-lg-6 d-none d-lg-flex justify-content-center align-items-center">
      <img src="assets/img/home/login.png"
           class="img-fluid"
           alt="Login"
           style="max-height: 500px;">
    </div>

  </div>
</div>
