<section id="stats" class="stats section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4">
  
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span [attr.data-purecounter-start]="0" [attr.data-purecounter-end]="nbTargetsScanned" data-purecounter-duration="1" class="purecounter"></span>
            <p>Targets Scanned</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span [attr.data-purecounter-start]="0" [attr.data-purecounter-end]="nbVulnerabilitiesDetected" data-purecounter-duration="1" class="purecounter"></span>
            <p>Vulnerabilities Detected</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span [attr.data-purecounter-start]="0" [attr.data-purecounter-end]="nbSecurityTestsExecuted" data-purecounter-duration="1" class="purecounter"></span>
            <p>Security Tests Executed</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span [attr.data-purecounter-start]="0" [attr.data-purecounter-end]="nbFunctionalTestsExecuted" data-purecounter-duration="1" class="purecounter"></span>
            <p>Functional Tests Executed</p>
          </div>
        </div>
      </div>
    </div>
</section>