.position-relative .fa-eye,
.position-relative .fa-eye-slash {
  pointer-events: all;
}

.title{
   color: var(--heading-color);
   font-size: 2.5rem;
}
.top-div {
  padding: 140px 140px 0 140px;

}

.nga-card {
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
}
