.contact .info-box {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 3rem 2rem;
    border-radius: 1.8rem;
    height: 100%;
}
.contact .info-box h3 {
    color: var(--white-color);
    font-size: 2rem;
    margin: 1.2rem 0;
}
  
@media (max-width: 767.98px) {
    .contact .info-box h3 {
      font-size: 1.75rem;
    }
}
.contact .info-box p {
    opacity: 0.8;
    margin-bottom: 2rem;
}
.contact .info-box a {
    color: var(--white-color);
}
@media (max-width: 992px) {
    .contact .info-box {
      padding: 1.5rem;
    }
}
.contact .info-item-contact {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.2rem;
}
.contact .info-item-contact:last-child {
    margin-bottom: 0;
}
.contact .info-item-contact .icon-box {
    width: 3.5rem;
    height: 3.5rem;
    background-color: color-mix(in srgb, var(--white-color), transparent 85%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: 0.3s;
    margin-top: 10px;
}
.contact .info-item-contact .icon-box i {
    font-size: 1.5rem;
    color: var(--white-color);
}
.contact .info-item-contact:hover .icon-box {
    background-color: color-mix(in srgb, var(--white-color), transparent 70%);
}
.contact .info-item-contact .content h4 {
    margin: 0 !important;
    padding: 0 !important;
    color: var(--white-color);
    font-size: 1.2rem;
    font-weight: 700;
}
.contact .info-item-contact .content p {
    font-size: 0.8rem;
    font-weight: 400;
    color: white;
}
.contact .info-item-contact .content p:last-child {
    margin-bottom: 0;
}
.contact .contact-form {
    background-color: var(--white-color);
    padding:0.5rem 3rem;
    border-radius: 1rem;
    height: 100%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  }
  
  @media (max-width: 992px) {
    .contact .contact-form {
      padding: 1.5rem;
    }
}
.contact .contact-form h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    .contact .contact-form h3 {
      font-size: 1.75rem;
    }
}
.contact .contact-form p {
    color: color-mix(in srgb, var(--default-color), transparent 25%);
    margin-bottom: 2rem;
}
.contact .contact-form .form-control,
  .contact .contact-form .form-select {
    padding: 0.875rem 1.25rem;
    border-color: color-mix(in srgb, var(--default-color), transparent 90%);
    border-radius: 0.5rem;
    background-color: color-mix(in srgb, var(--white-color) 90%, white 5%);
    color: var(--default-color);
}
.contact .contact-form .form-control:focus,
  .contact .contact-form .form-select:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}
.contact .contact-form .form-control::placeholder,
  .contact .contact-form .form-select::placeholder {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
}
.contact .contact-form .btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 1rem 2rem;
    border-radius: 2rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.3s;
}
.contact .contact-form .btn i {
    font-size: 1.25rem;
}
.contact .contact-form .btn:hover {
    background-color: color-mix(in srgb, var(--primary-color), var(--white-color) 20%);
}
